body {
  background: linear-gradient(to right, #df4444, #ec780c); 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  margin: 30px 0;
  background: rgb(58, 57, 57);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: rgb(172, 165, 165);
  font-size: 3.5rem!important;
  margin: 0;
  font-style: oblique;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #e67e1d;
  font-size:3rem!important;
  text-align: center;
}
input:focus {
  outline: none;
}

::placeholder {
  color: rgb(190, 186, 186);
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.button-keto {
  background: linear-gradient(to right, #df4444, #ec780c);
  color: white!important;
}

.center {
  text-align: center;
}

.campo {
  margin-bottom: 2rem;
}

.contenido {
  padding:20px;
}

.contenido-principal {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
}

.error {
  text-align: center;
  padding: 1rem;
}

.img-keto {
  width: 200px;
}

.p-tableVacia {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: rgb(240, 176, 157);
}

.reiniciar-form {
  text-align: center;
  padding:0;
  margin: 0;
  color: rgb(240, 176, 157);
}

.reiniciar-form:hover {
  color: rgb(243, 127, 92);
  cursor: pointer;
}

.separador {
  display: none;
}

@media (max-width: 860px) {
  header {
    display: block;
    text-align: center;
  }
}

@media (max-width: 608px) {
  h1 {
    font-size: 2.5rem!important;
  }
  .reiniciar-form{
    padding-bottom: 6rem;
  }
  .separador {
    display: block;
  }
}